<div class="our-team-card">
    <div class="our-team-card-container">
        <div class="left-side">
            <img class="member-img" src="/assets/images/default.svg" />
        </div>
        <div class="right-side">
            <h6 class="member-name">Name Surename</h6>
            <span class="member-role">Designer</span>
            <p class="member-description">
                There are many variations of passages of Lorem Ipsum available, but the
                majority have suffered alteration in some form.
            </p>
            <div class="social-items"></div>
        </div>
    </div>
</div>