<div class="topbar">
    <!-- <div class="topbar-container">
        <div class="social-items d-flex align-items-center">
            <div class="social-item">
                <a class="social-item-container">
                    <img src="assets/images/icons/fb.png">
                </a>
            </div>
            <div class="social-item">
                <a class="social-item-container">
                    <img src="assets/images/icons/instagram.png">
                </a>
            </div>
            <div class="social-item">
                <a class="social-item-container">
                    <img src="assets/images/icons/twitter.png">
                </a>
            </div>
            <div class="social-item">
                <a class="social-item-container">
                    <img src="assets/images/icons/linkedin.png">
                </a>
            </div>
            <div class="social-item">
                <a class="social-item-container">
                    <img src="assets/images/icons/google.png">
                </a>
            </div>
        </div>
        <nav class="navbar">
            <ul class="navbar-items-container">
                <li class="navbar-item">
                    <a class="link">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="link">Our Projects</a>
                </li>
                <li class="navbar-item">
                    <a class="link">What we do</a>
                </li>
                <li class="navbar-item">
                    <a class="link">Our Services</a>
                </li>
                <li class="navbar-item">
                    <a class="link">Partners</a>
                </li>
                <li class="navbar-item">
                    <a class="link">Our Team</a>
                </li>
                <li class="navbar-item">
                    <a class="link">Contacts</a>
                </li>
            </ul>
        </nav>
    </div> -->
    <div class="topbar-container">
        <div class="topbar-main m-auto">
            <div class="topbar-main-content">
                <img src="assets/images/logo.png" class="logo m-auto">
                <p class="topbar-title">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                <div class="d-flex">
                    <input class="input" placeholder="Your E-mail">
                    <button class="btn">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>