<header class="topbar">
    <div class="topbar-container">
        <div class="nav-wrapper">
            <div class="social-items">
                <a class="socal-item" [appInlineSvg]="'fb-rounded'" href="/"></a>
                <a class="socal-item" [appInlineSvg]="'instagram-rounded'" href="/"></a>
                <a class="socal-item" [appInlineSvg]="'twitter-rounded'" href="/"></a>
                <a class="socal-item" [appInlineSvg]="'linkedin-rounded'" href="/"></a>
                <a class="socal-item" [appInlineSvg]="'google-rounded'" href="/"></a>
            </div>
            <nav class="main-navbar">
                <ul class="navbar">
                    <li class="navbar-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/">Our Projects</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/">What we do</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/">Our Services</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/">Partners</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/">Our Team</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>