<div class="our-team">
    <div class="our-team-container pg-container">
        <h1 class="pg-title">Our Team</h1>

        <div class="team-list">
            <div class="team-list-item">
                <app-our-team-card></app-our-team-card>
            </div>
            <div class="team-list-item">
                <app-our-team-card></app-our-team-card>
            </div>
            <div class="team-list-item">
                <app-our-team-card></app-our-team-card>
            </div>
            <div class="team-list-item">
                <app-our-team-card></app-our-team-card>
            </div>
        </div>
    </div>
</div>