<header id="header" class=" training">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="text-container">

                    <h2 class="h1-large text-center fw-normal">About PADC<span class="inspire text-capitalize ">
                            Trainings</span>
                    </h2>
                    <div class="padc-sep mb-5 mt-3"></div>
                    <p class="p-large text-center lh-lg">There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form, by injected humour, or randomised words
                        which don't look even slightly believable. If you are going to use
                        a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                        middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                        as necessary, making this the first
                        true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a
                        handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The
                        generated Lorem Ipsum is therefore always
                        free from repetition, injected humour, or non-characteristic words etc.</p>

                </div>
            </div>
        </div>
    </div>

</header>



<!-- Send Request -->
<div id="request" class="form-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="grid tarinings-grid ">
                    <figure class="effect-layla">
                        <img src="/assets/images/react-js.jpg" alt="ReactJs" />
                        <figcaption>
                            <p class="text-white"><a class="join-btn" href="angular-trainings.html">Join</a></p>
                            <p class="text-white">Angular trainning</p>
                            <p class="text-white">29 DEC / 18:00</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col">
                <div class="grid tarinings-grid ">
                    <figure class="effect-layla">
                        <img src="/assets/images/react-js.jpg" alt="ReactJs" />
                        <figcaption>
                            <p class="text-white"><a class="join-btn" href="angular-trainings.html">Join</a></p>
                            <p class="text-white">Angular trainning</p>
                            <p class="text-white">29 DEC / 18:00</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col">
                <div class="grid tarinings-grid ">
                    <figure class="effect-layla">
                        <img src="/assets/images/flutter.jpg" alt="Flutter" />
                        <figcaption>
                            <p class="text-white"><a class="join-btn" href="">Join</a></p>
                            <p class="text-white">Flutter trainning</p>
                            <p class="text-white">29 DEC / 18:00</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col">
                <div class="grid tarinings-grid ">
                    <figure class="effect-layla">
                        <img src="/assets/images/python.jpg" alt="PYTHON" />
                        <figcaption>
                            <p class="text-white"><a class="join-btn" href="">Join</a></p>
                            <p class="text-white">PYTHON trainning</p>
                            <p class="text-white">29 DEC / 18:00</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col">
                <div class="grid tarinings-grid ">
                    <figure class="effect-layla">
                        <img src="/assets/images/react-native.jpg" alt="ReactNative" />
                        <figcaption>
                            <p class="text-white"><a class="join-btn" href="">Join</a></p>
                            <p class="text-white">ReactNative trainning</p>
                            <p class="text-white">29 DEC / 18:00</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col">
                <div class="grid tarinings-grid ">
                    <figure class="effect-layla">
                        <img src="/assets/images/angular.jpg" alt="Angular" />
                        <figcaption>
                            <p class="text-white"><a class="join-btn" href="angular-trainings.html">Join</a></p>
                            <p class="text-white">Angular trainning</p>
                            <p class="text-white">29 DEC / 18:00</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Contact -->
<div id="contact" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="fw-bold">Contact Us</h4>
                <div class="contact-sep mb-5 mt-3"></div>
                <p class="fw-bold">ADDRESS: <span class="fw-normal">Mher Mkrtchyan 47/1 3101 Gyumri, Armenia</span></p>
                <p class="fw-bold mt-4">PHONE: <span class="fw-normal">+(374)94 019 941</span></p>
                <p class="fw-bold mt-4">Email: <span class="fw-normal"><a href="mailto:contact@padcllc.com">
                            contact@padcllc.com</a></span>
                </p>
                <h6 class="fw-bold mt-5">Write your number</h6>
                <p>We will call you</p>
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                    </div>
                    <div class="form-group mb-2 d-inline-block w-75">
                        <label for="inputemails" class="sr-only">Email</label>
                        <input type="password" class="form-control" id="inputemail" placeholder="email">
                    </div>
                    <button type="submit" class="btn btn-primary mb-1">Send</button>
                </form>

            </div>
            <div class="col-lg-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97091.42619949274!2d43.77034799978616!3d40.78420800759372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4041fb8b9b34fc9f%3A0x4f4bed0e45f99102!2z0JPRjtC80YDQuCwg0JDRgNC80LXQvdC40Y8!5e0!3m2!1sru!2s!4v1637276317429!5m2!1sru!2s"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </div>
    </div>


    <!-- Copyright -->
    <div class="copyright bg-gray mt-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img class="footer-logo" src="/assets/images/padc-logo.svg" alt="padc-logo">
                    <div class="footer-social-icons mt-4">
                        <a href="#" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                        <a href="#" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                        <a href="#" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" target="_blank" rel="noopener"><i class="fab fa-google"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div>
                        <ul class="footer-items-line-height">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Our Projects</a></li>
                            <li><a href="#">What we do</a></li>
                            <li><a href="#">Our Partners</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div>
                        <ul class="footer-items-line-height">
                            <li><a href="#">Send Request</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Send Your Number</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <p class="p-small statement text-center">© 2021 PADC LLC All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>