<div class="nav-wrapper">
    <div class="social-items">
        <a class="socal-item" [appInlineSvg]="'fb-rounded'" href="/"></a>
        <a class="socal-item" [appInlineSvg]="'instagram-rounded'" href="/"></a>
        <a class="socal-item" [appInlineSvg]="'twitter-rounded'" href="/"></a>
        <a class="socal-item" [appInlineSvg]="'linkedin-rounded'" href="/"></a>
        <a class="socal-item" [appInlineSvg]="'google-rounded'" href="/"></a>
    </div>
    <nav class="main-navbar">
        <ul class="navbar">
            <li class="navbar-item">
                <a routerLink="/home" routerLinkActive="active-route" class="cursor-pointer">Home</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/our-projects" routerLinkActive="active-route" class="cursor-pointer">Our Projects</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/what-we-do" routerLinkActive="active-route" class="cursor-pointer">What we do</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/our-services" routerLinkActive="active-route" class="cursor-pointer">Our Services</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/partners" routerLinkActive="active-route" class="cursor-pointer">Partners</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/our-team" routerLinkActive="active-route" class="cursor-pointer">Our Team</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/contacts" routerLinkActive="active-route" class="cursor-pointer">Contacts</a>
            </li>
        </ul>
    </nav>
</div>