<!-- Copyright -->
<div class="copyright bg-gray mt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img class="footer-logo" src="/assets/images/padc-logo.svg" alt="padc-logo">
                <div class="footer-social-icons mt-4">
                    <a href="https://www.facebook.com/padc.ltd" target="_blank" rel="noopener"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/company/73981544" target="_blank" rel="noopener"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/padc.llc" target="_blank" rel="noopener"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/PADCLLC" target="_blank" rel="noopener"><i
                            class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div>
                    <ul class="footer-items-line-height">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/home" [queryParams]="{'sectionId':'ourprojects'}">Projects</a></li>
                        <li><a routerLink="/home" [queryParams]="{'sectionId':'whatwedo'}">What We do</a></li>
                        <li><a routerLink="/home" [queryParams]="{'sectionId':'ourservices'}">Services</a></li>
                        <li><a routerLink="/home" [queryParams]="{'sectionId':'partners'}">Partners</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12">
                <div>
                    <ul class="footer-items-line-height">
                        <li><a routerLink="/home" [queryParams]="{'sectionId':'ourteam'}">Team</a></li>
                        <li><a routerLink="/home" [queryParams]="{'sectionId':'contact'}">Contact</a></li>
                        <li><a routerLink="/trainings">Trainings</a></li>
                        <li><a routerLink="/career">Career</a></li>
                        <li><a href="https://blog.padcllc.com" target="_blank">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <p class="p-small statement text-center">© 2023 PADC LLC All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</div>