<div class="form-1">
    <div class="container">
        <div class="row">
            <div class="mt-5">
                <div class="col-lg-12">
                    <h2 class="h1-large text-center text-uppercase fw-normal">Join<span class="inspire text-uppercase ">
                            Us</span>
                    </h2>
                    <div class="join-sep mb-5 mt-3"></div>
                    <p class="text-center">There are many variations of passages of Lorem Ipsum available
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6 offset-lg-3">

                    <!-- Contact Form -->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Name">
                        <label for="floatingInput">Name Surname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Phone">
                        <label for="floatingInput">Phone</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="City">
                        <label for="floatingInput">City</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Emails">
                        <label for="floatingemail">Email</label>
                    </div>
                    <div class="form-floating d-flex align-items-center justify-content-between w-100">
                        <div class="d-inline-block w-65">
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="d-inline-block w-35 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Send Request</button>
                        </div>
                    </div>

                    <!-- end of contact form -->
                </div>
            </div>
        </div>
    </div>
</div>