<div class="footer">
    <div class="footer-container">
        <div class="site-footer-logo">
            <div class="logo-content">
                <img src="assets/images/logo.png">
            </div>
            <div class="social-items d-flex align-items-center">
                <div class="social-item">
                    <a class="social-item-container">
                        <img src="assets/images/icons/footer-fb.png">
                    </a>
                </div>

                <div class="social-item">
                    <a class="social-item-container">
                        <img src="assets/images/icons/footer-instagram.png">
                    </a>
                </div>
                <div class="social-item">
                    <a class="social-item-container">
                        <img src="assets/images/icons/footer-twitter.png">
                    </a>
                </div>
                <div class="social-item">
                    <a class="social-item-container">
                        <img src="assets/images/icons/footer-linkedin.png">
                    </a>
                </div>
                <div class="social-item">
                    <a class="social-item-container">
                        <img src="assets/images/icons/footer-google.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="site-footer-navbar d-flex">
            <div class="site-navbar">
                <ul>
                    <li class="navbar-item"> <a class="link">Home</a></li>
                    <li class="navbar-item"> <a class="link">Our Projects</a></li>
                    <li class="navbar-item"> <a class="link">What we do</a></li>
                    <li class="navbar-item"> <a class="link">Our Partners</a></li>
                </ul>
            </div>
            <div class="site-navbar right-navbar">
                <ul>
                    <li class="navbar-item"> <a class="link">Send request</a></li>
                    <li class="navbar-item"> <a class="link">Contact us</a></li>
                    <li class="navbar-item"> <a class="link">Send your number</a></li>
                </ul>




            </div>
        </div>
    </div>
</div>