<div class="wwd">
    <div class="wwd-container pg-container">
        <h1 class="pg-title ">What We Do</h1>
        <div class="wwd-items d-flex align-items-center">
            <div class="wwd-item">
                <div class="wwd-item-icon">
                    <div class="wwd-item-icon-inner">
                        <img src="/assets/images/wwd/wwd-1.png" class="wwd-item-icon-inner-img" />
                    </div>
                </div>
            </div>
            <div class="wwd-item">
                <div class="wwd-item-icon">
                    <div class="wwd-item-icon-inner">
                        <img src="/assets/images/wwd/wwd-1.png" class="wwd-item-icon-inner-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>