:root {
    --black: #000000;
    --cblue: #005a84;
    --clight-blue-one: #0079a9;
    --clight-blue-two: #00a3c4;
    --clight-blue-three: #0079a9;
    --cdark-blue: #002b43;
}

body {
    font-family: "Montserrat", sans-serif !important;
    background-color: #ffffff;
}

