:root {
    --black: #000000;
    --cblue: #00A5C7;
    --clight-blue-one: #0079a9;
    --clight-blue-two: #00a3c4;
    --clight-blue-three: #0079a9;
    --cdark-blue: var(--cblue);
}

body {
    font-family: "Montserrat", sans-serif !important;
    background-color: #ffffff;
}