<div id="contact" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="fw-bold">Contact Us</h4>
                <div class="contact-sep mb-5 mt-3"></div>
                <p class="fw-bold">ADDRESS: <span class="fw-normal">Mher Mkrtchyan 47/1 3101 Gyumri, Armenia</span></p>
                <p class="fw-bold mt-4">PHONE: <span class="fw-normal">+(374)94 019 941</span></p>
                <p class="fw-bold mt-4">Email: <span class="fw-normal"><a href="mailto:contact@padcllc.com">
                            contact@padcllc.com</a></span>
                </p>
                <h6 class="fw-bold mt-5">Write your number</h6>
                <p>We will call you</p>
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Email</label>
                    </div>
                    <div class="form-group mb-2 d-inline-block w-75">
                        <label for="inputemails" class="sr-only">Email</label>
                        <input type="password" class="form-control" id="inputemail" placeholder="email">
                    </div>
                    <button type="submit" class="btn btn-primary mb-1">Send</button>
                </form>

            </div>
            <div class="col-lg-6">
                <div id="map" class="map"></div>
            </div>

        </div>
    </div>
</div>