<div id="contact" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="fw-bold">Contact Us</h4>
                <div class="contact-sep mb-5 mt-3"></div>
                <p class="fw-bold">ADDRESS: <span class="fw-normal">Mher Mkrtchyan 47/1 3101 Gyumri, Armenia</span></p>
                <p class="fw-bold mt-4">PHONE: <span class="fw-normal">+(374)94-019-941 / +(374)94-446-468</span></p>
                <p class="fw-bold mt-4">Email: <span class="fw-normal"><a href="mailto:administrator@padcllc.com">
                            administrator@padcllc.com</a></span>
                </p>
            </div>
            <div class="col-lg-6">
                <div id="map" class="map"></div>
            </div>
        </div>
    </div>
</div>